body
{
    background-color: rgb(16, 23, 44);
}
#frame
{
    width: 500px;
    height:500px;
    background-color:rgb(173, 185, 227);
    text-align: center;
    margin-top: 50px;/*cách lề trên*/
    margin-bottom: 50px;/*cách lề dưới*/
    margin-left: 325px;/*cách lề trái*/
    margin-right: 150px;/*cách lề phải*/
}
div > h1
{
    font-style: italic;
    text-shadow: 3px 3px 2px rgb(29, 76, 171);
}
#playerF
{
    background-color: rgb(219, 232, 244);
    color:rgb(24, 38, 232);
    font-weight: bold;
    font-family:'Times New Roman';
}
td
{
    border: 1px solid rgb(90, 87, 87);
    width: 30px;
    height: 30px;
    background-color:aliceblue;
}
/* khi đưa chuột vào ô */
td:hover
{
    background-color: rgb(164, 224, 224);
}
#continue:hover
{
    background-color: yellow;
}
#play:hover
{
    background-color: yellow;
}
#subDiv
{
    display: flex;
    justify-content:space-around;

}
#result
{
    display: flex;
    justify-content:center;

}
.dialog {
    display: none;
    position: fixed;
    top: 50%; /*cách lề phải*/
    left: 45%; /*cách lề trái*/
    padding: 10px;
    background: hsl(106, 52%, 80%);
    border: 1px solid #000;
}

